// Theme Width.
$themeWidth: 1200px;

// Content Width.
$contentWidth: 720px;
$wideBlockWidth: 960px;

// Fullwidth Template.
$contentFullwidth: 1200px;
$wideBlockFullwidth: 1440px;

// Text Color.
$textColor: #242424;

// Theme Colors.
$themeColors: (
	--primary-color          : #006699,
	--secondary-color        : #0791b6,
	--accent-color           : #99001a,
	--highlight-color        : #00601a,
	--light-gray-color       : #e4e4e4,
	--gray-color             : #848484,
	--dark-gray-color        : #242424,
	--link-color             : #006699,
	--link-hover-color       : #242424,
	--button-color           : #006699,
	--button-text-color      : #fff,
	--button-hover-color     : #242424,
	--button-hover-text-color: #fff,
	--header-background-color: #fff,
	--header-text-color      : #242424,
	--header-hover-text-color: #006699,
	--header-border-color    : rgba(0, 0, 0, 0.1),
	--navi-active-text-color : #fff,
	--navi-active-bg-color   : #006699,
	--navi-hover-bg-color    : rgba(0, 0, 0, 0.1),
	--title-text-color       : #fff,
	--title-background-color : #006699,
	--post-title-color       : #242424,
	--post-title-hover-color : #006699,
	--footer-background-color: #e7e7e7,
	--footer-text-color      : #242424,
	--footer-link-color      : rgba(0, 0, 0, 0.5),
	--footer-link-hover-color: #242424,
	--footer-border-color    : rgba(0, 0, 0, 0.1),
);

// Theme Fonts
$baseFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$titleFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $baseFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : bold,
	--navi-font-weight  : normal,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);
