// containerWidth.
$themeWidth: 1260px;
$contentWidth: 720px;

// Text Color
$textColor: #242424;

// Theme Colors
$themeColors: (
	--link-color               : #006699,
	--link-hover-color         : #242424,
	--button-color             : #006699,
	--button-text-color        : #fff,
	--button-hover-color       : #242424,
	--button-hover-text-color  : #fff,
	--header-background-color  : #fff,
	--header-text-color        : #242424,
	--header-hover-text-color  : #006699,
	--header-border-color      : rgba(0, 0, 0, 0.075),
	--navi-active-text-color   : #fff,
	--navi-active-bg-color     : #006699,
	--navi-hover-bg-color      : rgba(0, 0, 0, 0.1),
	--title-color              : #242424,
	--title-hover-color        : #006699,
	--title-background-color   : #006699,
	--footer-color             : #fff,
	--footer-text-color        : #242424,
	--footer-hover-text-color  : rgba(0, 0, 0, 0.5),
	--footer-border-color      : rgba(0, 0, 0, 0.075),
);

// Theme Fonts
$baseFont: Arimo, Arial, Helvetica;
$titleFont: Nunito, Tahoma, Arial;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : bold,
	--navi-font-weight  : normal,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);

:root {
	--containerWidth: $themeWidth;
	--contentWidth: $contentWidth;
	--link-color: map-get($themeColors, --link-color);
	--link-hover-color: map-get($themeColors, --link-hover-color);
	--button-color: map-get($themeColors, --button-color);
	--button-text-color: map-get($themeColors, --button-text-color);
	--button-hover-color: map-get($themeColors, --button-hover-color);
	--button-hover-text-color: map-get($themeColors, --button-hover-text-color);
	--header-background-color: map-get($themeColors, --header-background-color);
	--header-text-color: map-get($themeColors, --header-text-color);
	--header-hover-text-color: map-get($themeColors, --header-hover-text-color);
	--header-border-color: map-get($themeColors, --header-border-color);
	--navi-active-text-color: map-get($themeColors, --navi-active-text-color);
	--navi-active-bg-color: map-get($themeColors, --navi-active-bg-color);
	--navi-hover-bg-color: map-get($themeColors, --navi-hover-bg-color);
	--title-color: map-get($themeColors, --title-color);
	--title-hover-color: map-get($themeColors, --title-hover-color);
	--title-background-color: map-get($themeColors, --title-background-color);
	--footer-color: map-get($themeColors, --footer-color);
	--footer-text-color: map-get($themeColors, --footer-text-color);
	--footer-hover-text-color: map-get($themeColors, --footer-hover-text-color);
	--footer-border-color: map-get($themeColors, --footer-border-color);
	--text-font: map-get($themeFonts, --text-font);
	--title-font: map-get($themeFonts, --title-font);
	--title-font-weight: map-get($fontWeight, --title-font-weight);
	--title-text-transform: map-get($textTransform, --title-text-transform);
	--navi-font: map-get($themeFonts, --navi-font);
	--navi-font-weight: map-get($fontWeight, --navi-font-weight);
	--navi-text-transform: map-get($textTransform, --navi-text-transform);
}
