.type-post,
.type-page,
.type-attachment {
	margin: 0 0 1.5rem;
	padding: 0;
}

.search .site-main .search-form {
	margin-bottom: 1.5em;
}

/* Entry Header */
.entry-header {
	margin: 1.5rem 0 1rem;
}

.entry-title {
	margin: 0;
	padding: 0;
	@include color(--post-title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(24);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	@include color(--post-title-color);
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	@include color(--post-title-hover-color);
}

/* Page Header */
.page-header-container {
	margin-left: calc( -100vw / 2 + 100% / 2 + 8px );
	margin-right: calc( -100vw / 2 + 100% / 2 + 8px );
	margin-top: -1px;
	margin-bottom: 1rem;
	max-width: 100vw;
	padding: 1.5rem 1.25rem;
	@include background(--title-background-color);
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.page-header-container .page-header {
	margin: 0 auto;
	max-width: $contentWidth;
}

.page-header-container .page-header .entry-title,
.page-header-container .page-header .entry-title a:link,
.page-header-container .page-header .entry-title a:visited,
.page-header-container .page-header .entry-title a:hover,
.page-header-container .page-header .entry-title a:active {
	@include color(--title-text-color);
}

.page-header-container .page-header .entry-title {
	@include font-size(28);
}

/* Entry Content */
.entry-content {
	@include font-size(18);
}

.entry-content > .alignwide,
.entry-content > .alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 + 8px );
	margin-right: calc( -100vw / 2 + 100% / 2 + 8px );
	max-width: 100vw;
}

/* Featured Images */
.wp-post-image {
	vertical-align: top;
	margin-bottom: 1rem;
}
