/* Theme Pagination */
.pagination {
	margin: 1.5rem 0;
	padding: 0;
	@include font-size(15);
}

.pagination .page-numbers,
.pagination .current {
	display: inline-block;
	margin: 0 0.5rem 0 0;
	padding: 0.4rem 1rem;
	text-align: center;
	text-decoration: none;
	@include color(--button-hover-text-color);
	@include background(--button-hover-color);
	border-radius: 0.5rem;
}

.pagination .page-numbers.dots {
	padding: 0 0.5rem;
}

.pagination .current,
.pagination a:hover,
.pagination a:active {
	@include color(--button-text-color);
	@include background(--button-color);
}
