/* Buttons Block Style */
.wp-block-buttons.is-style-gt-small {
	.wp-block-button__link {
		padding: 0.32rem 0.8rem;
		@include font-size(15);
	}

	.wp-block-button.is-style-outline .wp-block-button__link {
		padding: calc(0.32rem - 2px) calc(0.8rem - 2px);
	}
}

.wp-block-buttons.is-style-gt-medium {
	.wp-block-button__link {
		padding: 0.6rem 1.5rem;
		@include font-size(17);
	}

	.wp-block-button.is-style-outline .wp-block-button__link {
		padding: calc(0.6rem - 2px) calc(1.5rem - 2px);
	}
}

.wp-block-buttons.is-style-gt-large {
	.wp-block-button__link {
		padding: 0.9rem 2.25rem;
		@include font-size(18);
	}

	.wp-block-button.is-style-outline .wp-block-button__link {
		padding: calc(0.9rem - 2px) calc(2.25rem - 2px);
	}
}
